
    .icon {
      background-image: url('../images/sprite.png');
    }

  .icon-power01 {
    background-position: -0px -0px;
    width: 45px;
    height: 45px;
  }
  .icon-power02 {
    background-position: -0px -45px;
    width: 45px;
    height: 45px;
  }
  .icon-power03 {
    background-position: -0px -90px;
    width: 45px;
    height: 45px;
  }
  .icon-power04 {
    background-position: -0px -135px;
    width: 45px;
    height: 45px;
  }
  .icon-power05 {
    background-position: -0px -180px;
    width: 45px;
    height: 45px;
  }
  .icon-power06 {
    background-position: -0px -225px;
    width: 45px;
    height: 45px;
  }
