.icon {
  display: inline-block;
}

.icon-scope02 {
  background-image: url(../images/sprite.png);
  background-position: 0px*0.5 -87px*0.5;
   background-size: 229*0.5px 165*0.5px;
  width: 104px*0.5;
  height: 78px*0.5;
}

.icon-scope03 {
  background-image: url(../images/sprite.png);
  background-position: -114px*0.5 0px*0.5;
   background-size: 229*0.5px 165*0.5px;
  width: 115px*0.5;
  height: 85px*0.5;
}

.icon-scope05 {
  background-image: url(../images/sprite.png);
  background-position: 0px*0.5 0px*0.5;
   background-size: 229*0.5px 165*0.5px;
  width: 114px*0.5;
  height: 87px*0.5;
}
