.icon-d{background: url('../images/../images/sprite.png') no-repeat -95px 0px;background-size: 153px 78px;width: 58px;height: 62px;}
.icon-service01{background: url('../images/../images/sprite.png') no-repeat 0px 0px;background-size: 153px 78px;width: 87px;height: 78px;}
