<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/venders/jquery-1.12.4.min.js"></script>
    <script src="js/venders/jquery.SuperSlide.2.1.1.js"></script>

    <title>index</title>
  </head>

  <body>
