@import "mixin", "reset", "icon","public";

.record-order-list {
  height: calc(100% - 200px);
  overflow-y: auto;
}

.record-order-item {
  margin-top: 10px;
  padding: 0 10px;

  .hd {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 15px;
    height: 50px;
    background: rgba(255,255,255,1);
    border-radius: 8px;

    .time {
      font-size: 13px;
      font-weight: 400;
      color: #999;
    }

    .type {
      font-size: 13px;
      font-weight: 400;
      color: rgba(153,153,153,1);
      text-align: center;
      flex: 1;
    }

    .price {
      font-size: 13px;
      font-weight: 400;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      color: rgba(7,193,96,1);

      .price-used {
        color: #999;
      }

      span {
        padding: 0 5px;
      }

      i {
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/icon/icon-down.png") no-repeat center center;
        background-size: 12px auto;
        transition: all 0.3s ease 0s;
      }

      i.on {
        transform: rotate(180deg);
      }
    }
  }

  .bd {
    background: #fff;
    padding: 10px 15px;
    border-top: 1px dashed #f7f7f7;
    position: relative;
    display: none;

    &::after,
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background: #f7f7f7;
      position: absolute;
      border-radius: 20px;
      top: -10px;

      &::after {
        left: -10px;
      }

      &::before {
        right: -10px;
      }

      li {
        font-size: 12px;
        font-weight: 400;
        color: rgba(153,153,153,1);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 24px;
        margin: 4px 0;
      }

      .status {
        color: #07C160;

        span {
          margin-left: 10px;
        }

        a {
          display: inline-block;
          height: 24px;
          background: rgba(7,193,96,1);
          border-radius: 12px;
          padding: 0 15px;
          font-size: 12px;
          font-weight: 400;
          color: rgba(255,255,255,1);
          line-height: 24px;
        }
      }
    }
  }
