@import "reset";

.app {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  li {
    border: 1px solid #000;
    margin: 1px;
  }

  li:nth-child(1) {
    align-self: flex-end;
    order: 1;
  }

  li:nth-child(2) {
    order: 2;
  }

  li:nth-child(3) {
    align-self: flex-start;
    order: 0;
    background: red;
  }
}
